
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">About</h1>
    <div class="row">
      <p class="lead">
      This blog was created by <a href="http://github.com/TylerWerne40/">Tyler Werne</a> for use by the NM Orthodox of the <a href="https://www.denver.goarch.org/">Metropolis of Denver</a> and    
      the Orthodox of NM, as allowed by the governing body. This is a gift to others.
      </p>
      
      <p class="attribute">The template used in starting this blog was created by <a href="http://github.com/sloria/">Steven Loria</a> for use with the <a href="http://github.com/audreyr/cookiecutter/">cookiecutter</a> package by <a href="http://github.com/audreyr/">Audrey Roy</a>.</p>
    </div>
</div>
{% endblock %}

